@import "../assets/scss/variables";
.media_branding_n{


  * {
    transition: all 0.3s ease-out;
  }
  h2{
 font-weight: 700;
    color: #424966;

  }
  h3 {
    color: #666666;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 6px;
    
  }
  

    .logo_img {
      font-size: 50px;
    line-height: 20px;
    color: #666666;
  
    
  }
  
  .go_corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #FFF212;
    border-radius: 0 4px 0 32px;
  }
  
  .go_arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: #000000 ;
    font-family: courier, sans;
  }
  
  .grid_containerN{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
 
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .card1 {
    display: block;
    position: relative;
    width: 262px;
    background-color: #f2f8f9;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
  
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: #FFF212;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: transform 0.25s ease-out;
    }
  
    &:hover:before {
      transform: scale(21);
    }
  }
  
  .card1:hover {
    .logo_img{
      transition: all 0.3s ease-out;
      color: black;
    }
    h3 {
      transition: all 0.3s ease-out;
      color: black;
    }
  }


}
 