@import "../assets/scss/variables";
.main_contact_all {
    h1 {
      font-size: 3.2rem;
      font-weight: 700;
      color: black;
    }
    h5 {
      color: #777777;
      font-size: 1.2rem;
    }
    h3 {
      color: black;
      font-weight: 700;
    }
    h6 {
      color: #0d0d0d;
      font-size: 1rem;
    }
    .orr{
      font-style: italic;
    }
  }
  .main_contact {
    background-color: #fefefe;
    box-shadow: rgba(98, 98, 105, 0.2) 0px 7px 29px 0px;
    h1 {
      font-size: 3.2rem;
      font-weight: 650;
      color: black;
    }
    h5 {
      color: #777777;
      font-size: 1.2rem;
    }
    h3 {
      color: black;
      font-weight: 700;
    }
    h6 {
      color: #0d0d0d;
      font-size: 1rem;
    }
  
    .google_map {
      height: 75vh;
      width: 100%;
    }
    .contact_form {
      .message_btn {
        background-color: #252324;
        color: rgb(237, 237, 237);
        font-size: 1.1rem;
        border-radius: 4px ;
      }
      .message_btn:hover {
        background-color: #4a494a;
        color: rgb(237, 237, 237);
      }
     
     
      .txt_clr_tlk {
        color: #373435;
        font-size: 2.2rem;
      }
      .txt_clr {
        color: #373435;
      }
      
      label {
        color: #6c757d ;
        font-size: 0.9rem;
      }
     
    }
  }
  
  @media screen and (max-width: 1366px) {
    .main_contact_all {
      h1 {
        font-size: 3rem;
      }
      h5 {
        font-size: 1rem;
      }
  
      h6 {
        font-size: 0.9rem;
      }
    }
  }

  @media screen and (max-width: 720px) {
    .main_contact_all {
      h1 {
        font-size: 1.2rem;
        visibility: hidden;
      }
      h5 {
        display: none;
      }
  
      h6 {
        font-size: 0.9rem;
      }
      .google_map {
        height: 60vh;
        width: 100%;
      }
    }
  }
  