@import "../assets/scss/variables";


.our_clients_content {
  .trending_cardd {
      height: 100px;
      width: 150px;
    }
  }
.enquire_content {
  display: flex;
  justify-content: center;
  align-items: center;
  .enquire_description_row {
    background-color: #fdfdfd;
    border-radius: 7px;
    box-shadow: rgba(98, 98, 105, 0.2) 0px 7px 29px 0px;
    width: 65vw !important;
  }
  .enquire_description {
    background-color: #373435;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    .enquire_qsns_ cant {
      color: #ffff;
      font-size: 1.2rem;
      font-weight: 500;
    }
    .enquire_qsns_cant_qsn {
      color: #ffff; 
      font-size: 1.3rem;
      font-weight: 600;
    }
    .enquire_ans_cant {
      font-size: small;
      color: #ffff;
    }
    .hor_border {
      border-top: 3px solid #ffff !important;
      width: 118px !important;
    }
  }
  
  // input[type=number] {
  //   -moz-appearance: textfield;
  // }
  .txt_clr_tlk {
    color: #373435;
    font-size: 2.2rem;
  }
  .txt_clr {
    color: #373435;
  }
  .form-control {
    border: none !important;
    border-bottom: 1px solid #b5b4b4 !important;
  }
  label {
    color: #6c757d !important;
    font-size: 0.9rem;
  }
  ::-webkit-input-placeholder {
    font-size: 1rem !important;
  }
  .form-control:focus {
    border-color: rgba(100, 100, 100, 1) !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  .message_btn {
    background-color: #373435;
    color: rgb(237, 237, 237);
    font-size: 1rem;
    border-radius: 4px !important;
  }
  .message_btn:hover {
    background-color: #4a494a;
    color: rgb(237, 237, 237);
  }

  @media screen and (max-width: 1366px) {
    .enquire_description {
      .enquire_qsns_cant {
        font-size: 1.1rem;
      }
      .enquire_qsns_cant_qsn {
        font-size: 1.1rem;
      }
      .enquire_ans_cant {
        font-size: small;
      }
      .hor_border {
        width: 110px !important;
      }
    }
    .txt_clr_tlk {
      font-size: 2.1rem;
    }
    label {
      font-size: 0.8rem;
    }
    ::-webkit-input-placeholder {
      font-size: 0.9rem !important;
    }
  }
}
// @media screen and (max-width: 425px) {
//   .our-clients-content {
//     .trending-cardd {
//       width: 100px !important;
//     }
//   }
//   .enquire-description {
//     display: none;
//   }

//   .enquire-content {
//     .enquire-description-row {
//       width: 95vw !important;
//     }

//     .txt-clr-tlk {
//       color: #373435;
//       font-size: 1.6rem;
//     }
//     .txt-clr {
//       color: #373435;
//     }

//     ::-webkit-input-placeholder {
//       font-size: 0.9rem !important;
//     }
//     .message-btn {
//       font-size: 0.9rem;
      
//     }

//     @media screen and (max-width: 1366px) {
//       .enquire-description {
//         .enquire-qsns-cant {
//           font-size: 1.1rem;
//         }
//         .enquire-qsns-cant-qsn {
//           font-size: 1.1rem;
//         }
//         .enquire-ans-cant {
//           font-size: small;
//         }
//         .hor-border {
//           width: 110px !important;
//         }
//       }
//       .txt-clr-tlk {
//         font-size: 2.1rem;
//       }
//       label {
//         font-size: 0.8rem;
//       }
//       ::-webkit-input-placeholder {
//         font-size: 0.9rem !important;
//       }
//     }
//   }
// }