@import "../assets/scss/variables";
.icon-clr,
.icon_clr {
  color: $icon ;
  cursor: pointer ;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dfdfdf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cacaca;
}

.sdsd {
  .dropdown-toggle::after {
    display: none;
  }
}

.serchm {
  .dropdown-menu {
    width: 22vw;
    padding: 0px;
    --bs-dropdown-link-active-bg: #f1e615;
  }
  .dropdown-toggle::after {
    margin-top: 12px;
    font-size: 30px;
    color: $icon;
    float: right;
  }
}
.usrdtl{
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-menu {
    --bs-dropdown-link-active-bg: #f1e615 ;
  }
}
.fnav{
  .dropdown-toggle::after {
    display: none;
  }
    .dropdown-menu {
      width: 19vw;
      padding: 0px  ;
     
      cursor: pointer;
    }
    .dropdown-menu {
      --bs-dropdown-link-active-bg: #f1e615 ;
    }
  
}
.contUs{

  .form-control {
    border: none ;
    border-bottom: 1px solid #b5b4b4 ;
  }
  ::-webkit-input-placeholder {
    font-size: 1rem ;
  }
  .form-control:focus {
    border-color: rgb(58, 57, 57) ;
    -webkit-box-shadow: none ;
    -moz-box-shadow: none ;
    box-shadow: none ;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}
.servc{
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
  opacity: 60%;
  }
  
  .slick-prev:before,
  .slick-next:before {
  font-family: "slick";
  font-size: 25px;
  line-height: 1;
  
  color: $icon ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
}

.lgn{
  .form-control:focus {
    border: 1px solid #f0e512f1;
  }
  input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
input:focus {
      box-shadow: none;
    }
}
.enqr{

  .slick-next:before {
    display: none ;
  }
  .slick-next {
    display: none ;
  }
  .slick-prev:before {
    display: none ;
  }
  .slick-prev {
    display: none ;
  }
}