@import "../assets/scss/variables";

.center {
  position: relative ;
}

.nnbb{
  margin: 0;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 70vw !important;
  height: 70vh !important;
}

.icon-clr,
.icon_clr {
  color: $icon ;
  cursor: pointer ;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dfdfdf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cacaca;
}

.sdsd {
  .dropdown-toggle::after {
    display: none;
  }
}

.serchm {
  .dropdown-menu {
    width: 22vw;
    padding: 0px;
   
    --bs-dropdown-link-active-bg: #f1e615;
  }
  .dropdown-toggle::after {
    margin-top: 12px;
    font-size: 30px;
    color: $icon;
    float: right;
  }
}
.usrdtl{
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-menu {
    --bs-dropdown-link-active-bg: #f1e615 ;

  }
}
.fnav{
  .dropdown-toggle::after {
   float: right;
   margin-top: 9px;
  }
    .dropdown-menu {
      width: 18vw;
      padding: 0px  ;
      background-color:#212121 ;
     color: white;
      cursor: pointer;
    }
    .dropdown-menu {
      --bs-dropdown-link-active-bg: #d1c601 ;
          --bs-dropdown-link-hover-bg: #303030;
    }
  
}
.contUs{

  .form-control {
    border: none ;
    border-bottom: 1px solid #b5b4b4 ;
  }
  ::-webkit-input-placeholder {
    font-size: 1rem ;
  }
  .form-control:focus {
    border-color: rgb(58, 57, 57) ;
    -webkit-box-shadow: none ;
    -moz-box-shadow: none ;
    box-shadow: none ;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}
.servc{
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
  opacity: 60%;
  }
  
  .slick-prev:before,
  .slick-next:before {
  font-family: "slick";
  font-size: 25px;
  line-height: 1;
  
  color: $icon ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
}

.lgn{
  .form-control:focus {
    border: 1px solid #f0e512f1;
  }
  input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
input:focus {
      box-shadow: none;
    }
}
*{
  // font-family: "Poppins "!important;
  font-family: sans-serif !important;
}
.enqry{
 
  .slick-next:before {
    display: none !important;
  }
  .slick-next {
    display: none !important ;
  }
  .slick-prev:before {
    display: none !important ;
  }
  .slick-prev {
    display: none !important;
  }
}

.detail-container{
  #detail-map-location {
    height: 36px;
    width: 36px;
  }
   .carousel .control-prev.control-arrow:before {
        border-right: 12px solid #ffffff !important;
      }
      .carousel .control-next.control-arrow:before {
        border-left: 12px solid #ffffff !important;
      }
      .carousel.carousel-slider .control-arrow:hover {
        height: 100%;
      }
       .carousel.carousel-slider .control-arrow {
        margin: 1%;
      }
         .carousel .control-dots {
        display: none;
      }
      .carousel .carousel-status {
        display: none;
      }
        ::-webkit-input-placeholder {
          font-size: 1rem !important;
        }
        .form-control:focus {
          border-color: rgba(100, 100, 100, 1) !important;
          -webkit-box-shadow: none !important;
          -moz-box-shadow: none !important;
          box-shadow: none !important;
        }
}