@import "../assets/scss/variables";

.map_btn_more{
  .btn_hover {
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 20px;
    height: 45px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
    background-color: #373435;
    --moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}
@media screen and (max-width: 1024px) {
  .map_btn_more{
    .btn_hover {
      width: 100px;
      font-size: 14px;
      font-weight: 500;

    
      margin: 15px;
      height: 35px;



    }
  }
}
.addonCart_mp {
  height: 30x;
  width: 30px;
}
.addonCart{
  height: 34x;
  width: 34px;
    cursor: pointer ;
}
.head {
  font-size: $head;
}

.subhead {
  font-size: $subhead;
}

.normal {
  font-size: $normal;
}
.media_items {
  overflow-y: scroll !important;
  height: calc(100vh - 111px) !important;
  margin-bottom: 49px;
}
// .media_items::-webkit-scrollbar-track {
//   border: 1px solid #DADCDE;
//   padding: 2px 0;
//   background-color: #DADCDE ;
// }

// .media_items::-webkit-scrollbar {
//   width: 10px;
// }

// .media_items::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   box-shadow: inset none;
//   background-color:  #808080;
//   border: 1px solid    #808080;
// }
.icons_sizes {
  font-size: 24px;
}
.cart_icons>.bag , .cart-icons>.rupee {
  background-color: white;
}
.filter_icons>div:hover , .cart_icons>.bag:hover , .filter_icons>div[aria-expanded=true], .cart_icons>div[aria-expanded=true]{
  background-color: #DADCDE;
  cursor: pointer;
}
.media_items.collapsing , .poi_items.collapsing ,.filter_items.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.checkbox_items {
  overflow-y: scroll;
  max-height: 25vh;
}
// .checkbox_items::-webkit-scrollbar-track {
//   border: 1px solid #000;
//   padding: 2px 0;
//   background-color: #808080;
// }

// .checkbox_items::-webkit-scrollbar {
//   width: 10px;
// }

// .checkbox_items::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   box-shadow: inset 0 0 6px rgba(0,0,0,.3);
//   background-color: #737272;
//   border: 1px solid #000;
// }

.poi_check {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    left: 50%;
    transform: translateY(-50%);
}
.distance {
  height: 100px;
  background-color: darkgray;
}

.km_distance {
  transform: translateY(-44px);
}
.poi_submit {
  position: relative;
}
.poi_submit>button {
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.price_range {
  height: 50px;
}
#flush_collapseOne.collapsing.price_range {
  -webkit-transition: none;
  transition: none;
  display: none;
}
.aval_hoarding {
  z-index: 4;
  margin-top: 10px;
  left:54%;
  background-color: white;
}

.map_btns {
  background-color: white;
}
.map_btns:hover {
  background-color: #ebebeb;
}
#map_view_mobile{
  display: none;
}
#map_view_row {
  height: 100vh;

}
@media only screen and (max-height: 750px) {
  .checkbox_items {
    overflow-y: scroll;
    max-height: 25vh;
  }
}
#mmm:hover{
  cursor: not-allowed !important;

}
#jjc{
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  div#collapseT2 , div#collapseT3{
    background-color: white;
    height: calc(100vh - 147px);
    position: absolute;
    z-index: 1;
    width: 100%;
}
  .media_items.accordion ,  .poi_items.poi_item , .filter_icons#accordionTest2 {
    position: absolute;
    z-index: 15;
    width: 100%;
    top: 49px;
  }
  .media_items {
    height: calc(100vh - 147px) !important;
    background-color: white;
    position: absolute;
    z-index: 1;
  }
  #accordionTest {
    height: calc(100vh - 60px);
  }
  #map_view{
    display: none;
  }
  #map_view_mobile{
    display: block;
    overflow-y: hidden;
    height: calc(100vh - 147px) !important;
    margin-bottom: 98px;
    z-index: 0;
    position: absolute;
    width: 100%;
    top: 50px;
  }
  .map_media_items > img {
    width: 47% !important;
    padding: 0 0 10px 0px !important;
    margin: 0 !important;
  }
}
@media only screen and (max-width: 576px) {
  .map_media_item_list {
    text-align: center;
  }
}
#accordion_button:focus{
box-shadow: none !important;
}
