.back_map {
  z-index: 5;
  width: 80px;
  background-color: #ffffff;
  border-radius: 2px;
  border: none;
  margin-top: 8px;
  margin-left: 10px;
  position: absolute;
  height: 40px;
  vertical-align: middle;
  color: rgb(0, 0, 0);

  font-size: 18px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
}
.media_image {
  max-height: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.this_area {
  z-index: 5;
  text-align: center;
  vertical-align: middle;
  background: transparent;
  border: none;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
}
.this_area_button {
  margin: 0px 8px;
  border: none;
  outline: 0px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  vertical-align: middle;
  appearance: none;
  opacity: 90%;
  padding: 3px 15px;
  color: rgb(243, 243, 243);
  background-color: #393939;
  border-radius: 16px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
}
.streetv {
  height: 49px;
  width:  49px;
  cursor: pointer;
  position: absolute;
  bottom: 3%;
  right: 15%;
}

.Load_more {
  padding: 6px 10px;
  z-index: 5;
  background-color: #ffffff;
  border-radius: 2px;
  border: none;
  // font-weight: 600;
  position: absolute;
  // left: 3%;
  top: 90%;
  height: 40px;
  vertical-align: middle;
  color: rgb(0, 0, 0);

  font-size: 18px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
}
.back_map:hover {
  background-color: #dddada;
}
.Load_more:hover {
  background-color: #dddada;
}
.infoWindow {
  width: 300px;
  height: 210px;
  #mark_img {
    width: 100%;
    position: absolute;
    top: -20px;
    left: 0;
  }
}
.sitemark {
  height: 25px;
  width: 20px;
  margin-left: 6px;
}
.info_window {
  width: 100%;
  height: 110px;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 0.2;
  padding: 7px;
  .sitemark {
    height: 36px;
    width: 38px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 0px;
    margin: 0px 10px 10px;
  }
}
