.heading {
  font-size: 2rem;
  font-weight: 600;
  color: #111111;
  text-transform: uppercase;
}
.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 15px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  h6 {
    color: #7c7c7c;
    font-size: 0.8rem;
  }
  h6[aria-expanded="true"] {
    color: #111111;
  }
  .service_Icon_cnt {
    border-radius: 12px;
    padding: 9px;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  .service_Icon {
    height: 8vh;
  }
}

#select_media_box {
  position: relative;
  margin: 0px 12px;
  appearance: none;
  width: auto;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 36px;
  background-color: white;
  border-radius: 6px;
  white-space: nowrap;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
  box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  outline: 0px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
  vertical-align: middle;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  border: 1px solid transparent;
  color: #111111;
}
form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  border-radius: 6px;
  background-color: #e9e9e9 !important;
  width: 18vw;
  height: 36px;
  font-size: 1rem;
  border: none;
  display: block;
  outline: none;
  padding: 9px 4px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

.card_media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-sizing: border-box;
  .project {
    width: 19.5vw;
    margin-bottom: 10px;
    vertical-align: top;

    float: center;
    cursor: pointer;
  }

  .project .figure {
    background-color: #fdfdfd;
    box-shadow: rgba(98, 98, 105, 0.2) 0px 7px 29px 0px;
    position: relative;
    display: inline-block;
    width: 19vw;
    margin: 0px 10px;
    border-radius: 6px;
  }
  .project .figure:hover {
    cursor: pointer;
    transition: all 0.2s ease-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .img_responsive_media {
    height: 18vh;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  .project .figure figcaption {
    position: relative;
    padding: 6px 16px 9px;
  }

  .project .figure img {
    border: 0;
    width: 100%;
  }

  figcaption .project_details {
    display: block;
    font-size: 0.9rem;
    font-weight: 400;
    color: #000000;
    width: 100%;
    margin-bottom: 4px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 17vw;
  }

  figcaption .project_price {
    position: absolute;
    right: 14px;
    top: 48px;
    text-align: right;
    margin-top: 6px;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
  }

  figcaption .project_creator {
    font-size: 0.9rem;
    color: #20344d;
    display: block;
  }
  .rupees_logo {
    height: 15px;
    width: 15px;
    margin-bottom: 2px;
    margin-right: 2px;
  }
  .offer_logo {
    height: 14px;
    width: 14px;
    margin-bottom: 3px;
    margin-right: 2px;
  }
  .off_text {
    color: #388e3c;
    font-size: small;
  }

  .addonCart {
    margin-top: -10px;
    height: 5vh;
    width: 5vw;
  }
}
.load_button {
  width: 140px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 14px;
  height: 36px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 4px;
  background-color: #212121 !important;
  --moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#select_location_icon {
  margin-bottom: 3px;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  #select_media_box {
    display: none;
  }
  input.nosubmit {
  
    width: 90vw;
    height: 25px;
    font-size: .9rem;

    padding: 9px 4px 9px 40px;
   
  }
  
  .service {
    overflow: scroll;
    scroll-behavior: smooth;
    h6 {
      font-size: 0.6rem;
    }

    .service_Icon_cnt {
      padding: 0px;
    }
    .service_Icon {
      height: 6vh;
    }
  }
  .card_media {
    grid-template-columns: repeat(1, 1fr);

    .project {
      width: 88vw;
      margin-bottom: 5px;
    }

    .project .figure {
      width: 88vw;
      margin: 0px 5px;
    }

    .img_responsive_media {
      height: 148px;
    }

    .project .figure figcaption {
      position: relative;
      padding: 3px 8px 6px;
    }

    .addonCart {
      margin-top: -10px;
      height: 4vh;
      width: 5vw;
    }
   figcaption .project_details {
      width: 86vw;
    }
  }
}
.no_data {
  display: flex;
  justify-content: center;
  align-items: center;
  img {

    width: 20vw;
  
  }
}